:root{
  --height-img:240px;
  --object-fit-img:cover;
}
.header img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
.header {
  width: 100%;
  height: 100%;
}
.product {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title-product {
  display: flex;
  justify-content: space-between;
}
.img-product {
  height: var(--height-img);
  object-fit: var(--object-fit-img);
}
.icon-product {
  display: flex;
  justify-content: right;
}
.img-product-cart {
  height: var(--height-img);
  object-fit: var(--object-fit-img);
}
.total-cart-btn{
  display: flex;
  justify-content: right;
}
.math-btn{
  position: relative;
  display: flex;
}
.math-btn .Delete-btn{
  position: absolute;
  right: 0;
}
.product-cart{
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.home{
  text-decoration: none;
  color: rgb(148, 148, 148);
}
.emty-cart-link{
  text-decoration: none;
}